body {
  background: #eef2f5;
  font-family: Segoe UI;
}

.container {
  width: 600px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #1976d2;
  color: white;
  border: none;
}
